body {
    background-color: #87ff88f7;
}

.background-white {
    background-color: white;
}

.padding-zero {
    padding: 0;
}

.border-radius-login {
    border-radius: 10px;
}

.navbar {
    background-color: #ffffff !important;
}

.nav-item .nav-link {
    color: black !important;
    font-weight: bold;
}

.navbar.navbar-dark .navbar-toggler {
    color: black !important;
}

.navbar.navbar-dark .navbar-toggler {
    color: black !important;
    fill: black !important;
}

.navbar.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.minsize {
    min-height: 355px !important;
}

.icon-tab-size {
    font-size: 200px;
    padding-left: 40px;
    padding-top: 18px;
}

.card:hover {
    background-color: #f9ffbd !important;
    cursor: grab;
}

.cursor-grab {
    cursor: grab;
}

.small-margin-bot{
    margin-bottom:2px;
}

.custom-text-field {
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.no-border{
    border:0 !important;
}
.overflow-scroll{
    overflow:scroll;
    max-height:300px;
}